@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,600i,700,700i,800|Open+Sans:400,400i,600,600i,700,700i,800&display=swap);
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin: 0;
}
.nav .nav nav {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.tip {
  display: flex;
  text-align: center;
  justify-content: center;
}

.phone {
  margin-top: 10px;
}

.logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: -70px;
}

.nav a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  text-align: right;
  font-weight: bold;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding-bottom: 20px;
  margin: 0;
}

h1 {
  color: gold;
  letter-spacing: 2px;
  margin-left: 5%;
}

h2 {
  color: white;
  letter-spacing: 30px;
  font-size: 70px;
}

h6 {
  color: white;
  font-size: 20px;
}

h3 {
  color: white;
  letter-spacing: 20px;
  font-size: 40px;
}

.firstBox, .fifthBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("images/brown.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.firstSpace {
  margin-bottom: 10px;
  text-align: center;
}

.firstText {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

p {
  width: 30%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
}

.firstSpace hr {
  width: 700px;
  border: 1px solid gold;
}

.callToAction {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: black;
  font-size: 15px;
  font-weight: bold;
  padding: 0px 15px;
  transition: transform 2s;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.thirdBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  text-align: center;
}

.grid-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid-item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  display: block;
  transition: opacity 0.3s ease;
}

.grid-item:hover img {
  opacity: 1;
}

.grid-item h4 {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  margin: 0;
  z-index: 1;
  color: white;
  letter-spacing: 20px;
  font-size: 40px;
}

.grid-item h5 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 2;
  color: white;
  letter-spacing: 20px;
  font-size: 40px;
}

.grid-item hr {
  position: absolute;
  width: 30%;
  margin-top: 29%;
  border: 1px solid gold;
  z-index: 1;
}

.secondhr {
  width: 10%;
  border: 1px solid gold;
}

.secondBox, .fourthBox {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
}

input {
  width: 70%;
  background-color: black;
  border: none;
  border-bottom: 1px solid gold; /* Gold line on the bottom */
  color: white; /* Text color */
  padding: 10px; /* Adjust padding as needed */
  margin: 10px 0; /* Add some margin for spacing */
}

.input-box {
  width: 60%; /* Adjust the width as needed */
  margin: 10px 0; /* Add some margin for spacing */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-box input {
  width: 100%;
  background-color: black; /* Black background */
  border: none;
  border-bottom: 1px solid gold; /* Gold line on the bottom */
  color: white; /* Text color */
  padding: 10px; /* Adjust padding as needed */
  margin: 0; /* Reset margin */
  text-align: center;
}

.button2 {
  width: 70%; /* Adjust the width as needed */
  margin-top: 80px; /* Add some margin for spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button2 button {
  background-color: black; /* Black background */
  border: 1px solid white;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: relative; /* Position relative for absolute positioning */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button2 a {
  position: relative;
  color: white;
}

/* Style for the button */
.transparent-button2 {
  margin-top: 20px;
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: relative; /* Position relative for absolute positioning */
}

.line {
  width: 87%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the line horizontally */
  border: 1px solid gold; /* Gold line */
}

.transparent-button {
  background-color: black;
  border: 0.1px solid white;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.transparent-button .transparent-button:hover {
  background-color: white;
  color: black;
}/*# sourceMappingURL=first.css.map */